<div class="col-md-3 col-sm-6 col-xs-12 widgetcontainer" data-order="{order}">
    <div class="info-box box">
        <div class="box-header with-border {class}">
            <span class="info-box-text {class1}"><b>{title}</b></span>
            <div class="box-tools pull-right">
                <div class="icon">
                    <i class="ion {icon}"></i>
                </div>
            </div>
        </div>
        <div class="box-body {class2}">
            {content}
        </div>
    </div>
</div>